body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.profile-card {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.profile-card:hover {
    transform: scale(1.05);
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a img {
    width: 40px;  /* Size of social media icons */
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
}
